<div class="form-wrapper">
    <mat-card class="form-container">
        <form [formGroup]="expectancyForm" (ngSubmit)="onSubmit(expectancyForm.value)">
            <mat-form-field>
                <mat-select id="sex" formControlName="sex" placeholder="Sex">
                    <mat-option value="male">Male</mat-option>
                    <mat-option value="female">Female</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <input id="country" formControlName="country" matInput placeholder="Country">
            </mat-form-field>
            <mat-form-field>
                <input id="date" formControlName="date" matInput [matDatepicker]="picker" placeholder="Date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <input id="age" formControlName="age" matInput placeholder="Age">
            </mat-form-field>
            <button mat-button color="accent" class="button" type="submit">Calculate Life Expectancy</button>
        </form>
    </mat-card>
</div>
<div class="results">
    <h2 *ngIf="currentExpectation" class="current-result">Life Expectation: {{ currentExpectation.expectation }}</h2>
    <mat-list>
        <h3 mat-subheader>Last 5 Results:</h3>
        <mat-list-item *ngFor="let item of items">
            <span class="list-item-value">Sex: {{ item.sex }} </span>
            <span class="list-item-value">Age: {{ item.age }} </span>
            <span class="list-item-value">Life Expectation: {{ item.expectation }}</span>
        </mat-list-item>
    </mat-list>
</div>