<mat-toolbar color="primary">Population of Slovakia<img src="../assets/slovakia-flag-icon.png" class="top-bar-icon"></mat-toolbar>
<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="tab-icon">view_list</mat-icon>
            Overview
        </ng-template>
        <app-overview></app-overview>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="tab-icon">show_chart</mat-icon>
            Chart
        </ng-template>
        <ng-template matTabContent>
            <app-pyramid-chart></app-pyramid-chart>
        </ng-template>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="tab-icon">assessment</mat-icon>
            Calculator
        </ng-template>
        <app-life-expectancy-calculator></app-life-expectancy-calculator>
    </mat-tab>
</mat-tab-group>